*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.landing{
    background: url("video.mp4");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.landing h1{
    text-align:
}